<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">

	<f:if condition="{piwikSiteId}">
		<f:then>
			<style type="text/css">
				div.module-body {
					padding: 0px;
				}
			</style>
			<iframe width="100%" height="600"
				src="{mainURL}/typo3conf/piwik/piwik/index.php?module=CoreHome&action=index&period=week&date=yesterday&idSite={piwikSiteId}"
				frameborder="0"></iframe>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>

</html>
